<div class="header-container">
  <div class="logo-wrapper">
    <img (click)="navigate('/')" class="logo" src="assets/icons/logo.png" alt="Lumier logo" />
  </div>

  <!-- Burger Icon -->
  <div class="burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Navigation -->
 <nav
  [class.open]="isMenuOpen"
  id="main-nav"
  role="navigation"
  aria-label="Main navigation"
>
  <a
    *ngFor="let link of links"
    (click)="navigate(link.route)"
    [ngClass]="{ 'active': isActive(link.route) }"
    tabindex="0"
  >
    {{ link.label }}
  </a>
</nav>

</div>
